.header{
border-color: black;
background-color: antiquewhite;
display: flex;
align-items: center;
height: 100px;
justify-content: space-between;
}

body{
    margin: 0px;  
    
}

.logo{

    font-size: 60px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(25, 25, 77);
}
.sides{
display: flex;
height: 20px;
margin: 10px;
font-size: 15px;
align-items: center;
gap: 30px;

}

h1{
border-radius: 5px;
border: 2px solid rgb(25, 25, 77);
background-color: white;
}
.logo{
    justify-content: center;
}